<h4>{{ '::ResetPassword' | abpLocalization }}</h4>

<form name="form" #f="ngForm" autocomplete="off" (ngSubmit)="f.form.valid && password === confirmPassword && onSubmit()" novalidate>
  <p>{{ '::ResetPassword_Information' | abpLocalization }}</p>
  <div class="mb-3 form-group">
    <label for="input-password" class="form-label">{{ '::Password' | abpLocalization }}</label
    ><span class="red-color"> * </span>
    <div class="form-group input-icon input-icon--right">
      <input
        class="form-control"
        [type]="fieldPassword ? 'text' : 'password'"
        name="firstPassword"
        [(ngModel)]="password"
        #passwordField="ngModel"
        [ngClass]="{ 'is-invalid': f?.submitted && passwordField.invalid }"
        required
        [pattern]="passwordPattern"
        noSpace
      />
      <span class="input-icon__icon input-icon__icon--right">
        <span class="input-group-btn">
          <i
            class="flip fa"
            [ngClass]="{ 'fa-eye-slash': !fieldPassword, 'fa-eye': fieldPassword }"
            (click)="toggleFieldPassword()"
          ></i>
        </span>
      </span>
      <div class="invalid-feedback" *ngIf="passwordField.errors?.required">
        {{ "::PasswordRequired" | abpLocalization }}
      </div>
      <div class="mt-1" *ngIf="f?.submitted && password !== confirmPassword" style="color: #dc3545; font-size: 80%; size: 80%;">
        {{ "::PasswordAndConfirmPasswordDoNotMatch" | abpLocalization }}
      </div>
      <div class="invalid-feedback" *ngIf="passwordField?.errors?.pattern || f?.submitted  || !passwordField.pristine">
        {{ "::AtLeastOneDigit" | abpLocalization }}<br>
        {{ "::AtLeastOneUppercase" | abpLocalization }}<br>
        {{ "::AtLeastOneSpecialChar" | abpLocalization }}<br>
        {{ "::AtLeastFourChar" | abpLocalization }}

      </div>
    </div>
  </div>
  <div class="mb-3 form-group">
    <label for="input-confirm-password" class="form-label">{{
      '::ConfirmPassword' | abpLocalization
    }}</label
    ><span class="red-color"> * </span>

    <div class="form-group input-icon input-icon--right">
      <input
        class="form-control"
        [type]="fieldConfirmPassword ? 'text' : 'password'"
        name="secondPassword"
        [(ngModel)]="confirmPassword"
        #confirmPasswordField="ngModel"
        [ngClass]="{ 'is-invalid': f?.submitted && confirmPasswordField.invalid }"
        required
        noSpace
      />
      <span class="input-icon__icon input-icon__icon--right">
        <span class="input-group-btn">
          <i
            class="flip fa"
            [ngClass]="{ 'fa-eye-slash': !fieldConfirmPassword, 'fa-eye': fieldConfirmPassword }"
            (click)="toggleFieldConfirmPassword()"
          ></i>
        </span>
      </span>
      <div class="invalid-feedback" *ngIf="confirmPasswordField.invalid || f?.submitted  || !confirmPasswordField.pristine">
        {{ "::ConfirmPasswordRequired" | abpLocalization }}
      </div>
      <div class="mt-1" *ngIf="f?.submitted && password !== confirmPassword" style="color: #dc3545; font-size: 80%; size: 80%;">
        {{ "::PasswordAndConfirmPasswordDoNotMatch" | abpLocalization }}
      </div>
    </div>
  </div>
  <button class="me-2 btn btn-secondary" type="button" routerLink="/account/login">
    {{ '::Cancel' | abpLocalization }}
  </button>
  <abp-button
    buttonType="submit"
    buttonClass="me-2 btn btn-primary"
    [loading]="inProgress"
  >
    {{ '::Submit' | abpLocalization }}
  </abp-button>
</form>

<ng-template #passwordResetTemplate>
  <p>
    {{ 'AbpAccount::YourPasswordIsSuccessfullyReset' | abpLocalization }}
  </p>

  <a routerLink="/account/login">
    <button class="d-block mt-2 mb-3 btn btn-primary">
      {{ '::BackToLogin' | abpLocalization }}
    </button>
  </a>
</ng-template>
