<div class="modal-header">
    <h5 class="modal-title">{{ modalType === 'active/deactive' ? 'Activate/Deactivate Customer' : 'Delete Customer' }}</h5>
    <button type="button" class="close" (click)="onCancel()">
      <span>&times;</span>
    </button>
  </div>
  
  <div *ngIf="modalType === 'active/deactive'">
    <div class="customer-details">
        <div class="mb-4">
          <h6 class="mb-3">Customer Details:</h6>
          <div class="row mb-2">
            <div class="col-4"><strong>Customer Name:</strong></div>
            <div class="col-8">{{ customerDetails.customerName }}</div>
          </div>
          <div class="row mb-2">
            <div class="col-4"><strong>Email:</strong></div>
            <div class="col-8">{{ customerDetails.email }}</div>
          </div>
          <div class="row mb-2">
            <div class="col-4"><strong>Address:</strong></div>
            <div class="col-8">{{ customerDetails.address }}</div>
          </div>
        </div>
  
        <div class="alert alert-warning">
          <i class="fas fa-exclamation-triangle me-2"></i>
          Are you sure you want to active/deactive this customer?
        </div>
      </div>
  
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="activateDeactivateCustomer()">Activate/Deactivate</button>
    </div>
</div>
  
  <div *ngIf="modalType === 'delete'">
    <div class="customer-details">
        <div class="mb-4">
          <h6 class="mb-3">Customer Details:</h6>
          <div class="row mb-2">
            <div class="col-4"><strong>Customer Name:</strong></div>
            <div class="col-8">{{ customerDetails.customerName }}</div>
          </div>
          <div class="row mb-2">
            <div class="col-4"><strong>Email:</strong></div>
            <div class="col-8">{{ customerDetails.email }}</div>
          </div>
          <div class="row mb-2">
            <div class="col-4"><strong>Address:</strong></div>
            <div class="col-8">{{ customerDetails.address }}</div>
          </div>
        </div>
  
        <div class="alert alert-warning">
          <i class="fas fa-exclamation-triangle me-2"></i>
          Are you sure you want to delete this customer?
        </div>
      </div>
  
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="deleteCustomer()">Delete</button>
    </div>
</div>
  